<h1 class="text-center">Cadastro de Produtos</h1>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">ID</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu ID único">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nome</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu nome completo">
</div>
<div class="input-group">
  <span class="input-group-text">Descrição</span>
  <textarea class="form-control" aria-label="Descrição"></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Preço</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite o preço">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Quantidade</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite a quantidade">
</div>
<div class="d-grid gap">
  <button class="btn btn-primary" type="Salvar">Button</button>
</div>